<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467637585014-3iub58kk2qm9k2vqnsaoqta8sv0e901g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467637585014-3iub58kk2qm9k2vqnsaoqta8sv0e901g</string>
	<key>API_KEY</key>
	<string>AIzaSyC5lpw8YMr6YEXEeQOJClakSnVUpKManrs</string>
	<key>GCM_SENDER_ID</key>
	<string>467637585014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.kod-one</string>
	<key>PROJECT_ID</key>
	<string>kod-one</string>
	<key>STORAGE_BUCKET</key>
	<string>kod-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467637585014:ios:a52e4c08b29ec7ebc08b57</string>
	<key>DATABASE_URL</key>
	<string>https://kod-one.firebaseio.com</string>
</dict>
</plist>